.card {
  width: 400px;
  padding: 16px 8px;
  position: relative;
  cursor: pointer;

  &:hover {
    background-color: #f1f1f1;
  }
}

.text {
  display: flex;
  align-items: center;

  &::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 4px;
    margin-right: 8px;
  }

  &::after {
    content: "";
    position: absolute;
    left: 15px;
    top: 19px;
    width: 5px;
    height: 10px;
    border: solid #999;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    display: none;
  }
}

.checkbox {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;

  &:checked + .text {
    text-decoration: line-through;

    &::after {
      display: block;
    }
  }
}
